.cabecera{
    display: flex;
    flex-direction: row;
    height: 2.5em;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
}

.general{
    display: flex;
    flex-direction: column;
}

.imagen-google{
    display: flex;
    flex-direction: column;
    height: 15em;
    justify-content: flex-end;
    align-items: center;
}

.recuadro-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.recuadro-busqueda input{
      
    width: 736px;
    height: 40px;
}

.idiomas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.idiomas a{
    margin: 0 2em;
}

