body{
    font-family: 'Roboto', sans-serif;
}

.cabecera{
    display: flex;
    flex-direction: row;
    height: 2.5em;
    align-items: center;
    justify-content: space-between;
}

.cabecera a{
    text-decoration: none;
    color: #757575;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 14px 8px;
}

.cabecera a.active{
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

.cabecera .fa-bars{
    color: #757575;
    width: 24px;
    height: 24px;
}



.general{
    display: flex;
    flex-direction: column;
}

.imagen-google{
    display: flex;
    flex-direction: column;
    height: 15em;
    justify-content: flex-end;
    align-items: center;
}

.recuadro-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    
}
.recuadro-busqueda .fa-microphone{
    position: relative;
    right: 36px;
    color: #1877f2;
}

.recuadro-busqueda .fa-search{
    position: relative;
    right: 727px;
    color: #b1b3b8;
}

.recuadro-busqueda input{
    border-radius: 25px;
    width: 736px;
    height: 40px;
    
}



.idiomas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.idiomas a{
    margin: 0 2em;
}


/* FOOTER */
footer{
    background: #f2f2f2;
    height: 150px;
}
.subtitulos-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.right .fa-th{
    color: #757575;
}
